{% extends 'loan/user/base.html' %}

{% block content %}
        <div id="home" class="view jarallax" data-jarallax="{&quot;speed&quot;: 0.2}" style="background-image: none; background-repeat: no-repeat; background-size: cover; background-position: center center; z-index: 0;" data-jarallax-original-styles="background-image: url(https://mdbootstrap.com/img/Others/construction2.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-indigo-light">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row smooth-scroll">
                        <div class="col-md-12 text-center">
                            <div class="text-white wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                <h1 class="display-4 text-uppercase font-weight-bold">MAENDELEO COMMUNITY BANK</h1>
                                <hr class="hr-light my-4">
                                <h4 class="subtext-header white-text mb-3"> We have been in business for the last 4 years. We have been growing steadily and among some of our main objectives is to be there for you when you need us.</p></h4>
                            </div>
                            <a href="{% url 'login' %}" data-offset="100" class="btn blue-gradient btn-rounded wow fadeInUp waves-effect waves-light" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.2s;">Welcome</a>
                        </div>
                    </div>
                </div>
            </div>
        <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://mdbootstrap.com/img/Others/construction2.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1321px; height: 610px; overflow: hidden; pointer-events: none; margin-top: 0px; transform: translate3d(0px, 0px, 0px);"></div></div></div>
{% endblock content %}