{% extends 'loan/user/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container" style='padding-top:100px'>
  <div class="row">
    <div class="col col-example">.</div>
    <div class="col col-example col-6" >
     {% if form.errors %}
                {% for message in form.errors %}
                    {{message|escape }}
                {% endfor %}
            {% endif %}
    <form class="text-center border border-light p-5" method='POST' action='{% url 'login' %}'>
    <p class="h4 mb-4">Sign in to MCB</p>
    {% csrf_token %}

    {% for field in form %}
    <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control mb-4" placeholder="{{field.label}}">
    {{ field.errors }}
        {% endfor %}
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
</form>
    </div>
    <div class="col col-example">.</div>
  </div>
</div>

{% endblock %}